/* ==========================================================================
 *  Bullet component
 * -> a list of things with big icons for each item
 * -> use with a UL parent or with .grid
 * ========================================================================== */

$size-bullet: 3em;

/* BASE
 * ----------------------------------------------------------------------------- */
.bullet {
  @extend %h4;
  // @include rem(margin-bottom, 16px);
  display: block;
  position: relative;
  width: 100%;
  padding: 0.25em;
  // margin-bottom: 1em;
  overflow: visible;
  z-index: $z--low;
  color: $blue;

  &:hover, &:active {
    color: $green;
    background-color: darken(white, 3);

    .bullet-icon {
      background-color: $green;
    }
  }

  &.alone {
    margin-bottom: 1em;
  }
}

/* SUBMODULES
 * ----------------------------------------------------------------------------- */

.bullet-icon {
  $center-overhang: -(($size-bullet - 1)/4);
  @extend %base-transition;
  @include position(absolute, 50% 0 0 -0.3em);
  @include circle($size-bullet);
  display: block;
  margin-top: -($size-bullet/2);
  vertical-align: middle;
  background-color: $blue;
  background-size: 60%;
  background-position: center center;

  &:after {
    $margin: 0.5em;
    // @include position(absolute, -($margin/2) -($margin/2) -($margin/2) -($margin/2));
    content: ' ';
    position: absolute;
    top: -($margin/2);
    left: -($margin/2);
    right: -($margin/2);
    bottom: -($margin/2);
    z-index: -1;
    background-color: white;
    border: 1px solid darken($gray--light, 5);
    border-radius: $size-bullet + $margin;
  }

  &:hover, &:active {
    background-color: $green;
  }

  /* tweaks for bulky icons -- need more breathing room */
  &.icon-business_org, &.icon-personal_injury, &.icon-estate_planning {
    background-size: 50%;
  }

  // &.small {
  //   $size-bullet--small: $size-bullet - 1em;
  //   @include circle($size-bullet--small);
  //   margin-top: -($size-bullet--small/2);
  // }
}

.bullet-label {
  @include inline-block;
  $size-px: (em-to-px($size-bullet) + 16px);
  @include rem(margin-left, $size-px);
  // margin-left: $size-px;
  // @include rem(margin-left, )
  // margin-left: ($size-bullet + 0.5em);
}

.bullet-content {
  $size-px: (em-to-px($size-bullet) + 16px);
  @include rem(margin, 0 16px 0 $size-px);
  padding: 0.25em;
}