/* ==========================================================================
//  Header modules
// ========================================================================== */

/* GLOBAL
// ----------------------------------------------------------------------------- */

$header-h: 100px;
$header-tagline-w: 135px;

$breakpoint-tagline: 401px;

[role="banner"].global {
  // @extend %base-transition;
  @extend %well;
  @include rem(height, 100px);
  // @include transform(translateX(0px));
  @include transition(left 0.3s ease);
  @include border(bottom);
  position: relative;
  left: 0;
  text-align: center;
  vertical-align: middle;

  @include breakpoint($breakpoint-header) {
    @include rem(padding-top, 36px);
    @include border(right);
    @include kill-border(top);
    @include kill-border(bottom);
    @include scroll-y;
    width: first($header-w);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  @include breakpoint($large) {
    width: nth($header-w, 2);
  }
}

  .header-button-menu {
    $h: 20px;
    @include rem(height, $h);
    @include rem(margin, -($h/2) 0 0 (first($layout-margins)/2));
    display: block;
    position: absolute;
    top: 50%;

    @include breakpoint($breakpoint-header) {
      @include hidden;
    }

    [class*="icon-"] {
      @include rem(width, $h);
    }
    .icon-menu {
      @include restore-visible;
    }
    .icon-close {
      @include hidden;
    }
  }
  .menu-open {
    .icon-menu {
      @include hidden;
    }
    .icon-close {
      @include restore-visible;
    }
  }

  .header-logo {
    @include inline-block--centered($header-h);
    @include transition(none);
    position: relative;

    & > img {
      @include rem(height, 70%);
    }

    @include breakpoint($breakpoint-tagline) {
      @include rem(right, -($header-tagline-w/2));
    }

    @include breakpoint($breakpoint-header) {
      @include rem(padding, 0 30px);
      display: block;
      right: 0;
      margin: 0 auto;
      height: auto;

      &:after, &:before {
        content: none;
      }

      & > img {
        height: auto;
      }
    }
  }

  .header-tagline {
    @extend %georgia-italic;
    @include rem(font-size, 10px);
    @include hidden;
    position: relative;
    color: $gray;

    @include breakpoint($breakpoint-tagline) {
      @include restore-visible;
      @include inline-block;
      @include rem(right, -($header-tagline-w/2));
      @include rem(padding-left, 12px);
      position: relative;
      text-align: left;
    }

    @include breakpoint($breakpoint-header) {
      @include rem(margin-top, 16px);
      display: block;
      right: 0;
      padding-left: 0;
      text-align: center;
    }
  }