// ==========================================================================
//  Media Box component
// -> a pic and a blurb, useful for attorney profiles
// ==========================================================================


/* BASE
// ----------------------------------------------------------------------------- */

.media_panel {
  @include clearfix;
  @include border(top, thick);
  overflow: hidden;
  // border-top-width: $hairline-w--thick;
  // border-top-style: solid;

  @include breakpoint($xsmall) {
    @include kill-border(top);
  }

  @include layout(4) {
    @include breakpoint($xsmall) {
      .media_panel-thumb {
        @include grid-span(1, 1);
        padding-left: 0;
      }

      .media_panel-body {
        @include grid-span(3, 2, $options: right);
        padding-right: 0;
      }
    }
  }
}

/* SUBMODULES
// ----------------------------------------------------------------------------- */

.media_panel-thumb {
  @include rem(padding-top, 16px);
  display: block;

  @include breakpoint($xsmall) {
    @include border(top, thick);
  }
}

.media_panel-body {
  @include rem(padding-top, 16px);

  @include breakpoint($xsmall) {
    @include border(top, thick);
  }

  & > p {
    @extend %text-small;
  }
}

/* MODIFIERS
// ----------------------------------------------------------------------------- */

/* big media panel, stretches across layout */
.media_panel.full-width {
  @include rem(margin-bottom, 8px);
  @include kill-border(top);

  .media_panel-thumb {
    @include border(top, thin);
  }

  .media_panel-body {
    @include border(top, thin);
  }
}