/* ==========================================================================
//  Navigation modules
// ========================================================================== */


// BASE
// -----------------------------------------------------------------------------

[role="navigation"], .nav, nav {
	
}

// SUBMODULES
// -----------------------------------------------------------------------------

/* ------- Global/main nav ------------------------------------------- */

[role="navigation"].global {
  // @extend %base-transition;
  @extend %theme-reverse;
  // @include transform(translateX(0px));
  @include transition(left 0.3s ease);
  @include scroll-y;
  @include border(right);
  display: block;
  position: fixed;
  left: -($header-w);
  top: 0;
  bottom: 0;
  z-index: $z--high;
  height: 100%;
  width: $header-w;
  -webkit-overflow-scrolling: touch;

  &.is-open {
    left: 0;
  }

  a {
    @extend %calluna;
  }

  @include breakpoint($breakpoint-header) {
    // @include restore-visible;
    @include restore-default-theme;
    @include kill-border(right);
    position: relative;
    left: 0;
    height: auto;
    width: auto;
    padding: 0 $grid-gutter;

    ul {
      @include rem(margin, 18px 0);
    }

    .secondary {
      @include rem(padding-top, 18px);
      border-top: $hairline-w--thin solid $gray--light;
    }

    a {
      @include rem(font-size, 16px);
      color: $gray;

      &:hover, &:active {
        color: darken($gray, 10);
      }
    }

    .active {
      color: $green;
    }
  }
  
}


/* ------- Accordion (local) nav ------------------------------------------- */

.js {
  .accordion {
    @extend %base-transition;
    // @include rem(margin-bottom, 12px);
    @include border(bottom, thin);
    margin-bottom: 1.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .accordion-content {
    @include hidden;

    &.is-open {
      @include restore-visible;
    }
  }

  .accordion-content.excerpt {
    @include restore-visible;

    // hide everything but the first paragraph
    & > * {
      @include hidden;
    }

    p:first-child {
      @include restore-visible;
    }
    
    // make all content visible when the "open" class is added
    // -> triggered by a click on the "more" button (JS)
    &.is-open > * {
      @include restore-visible;
    }
  }

  // init -- show the "more" button
  .accordion-button {
    $icon-size: 18px;
    @include restore-visible;
    @include inline-block;
    // display: block;

    & > #{headers()} {
      @include inline-block;
    }

    .hide {
      @extend %read_more;
      @include hidden;
    }
    .expand {
      @extend %read_more;
      @include restore-visible;
      @include inline-block;
    }

    [class*="icon-arrow-"] {
      margin-left: 0.3em;
    }

    &.active {

      .hide {
        @include restore-visible;
        @include inline-block;
      }
      .expand {
        @include hidden;
      }
    }

    &.large {
      [class*="icon-arrow-"] {
        @include rem(width, $icon-size);
        @include rem(height, $icon-size);
      }
    }
  }
}

.no-js {

  .accordion-content.excerpt > * {
    @include restore-visible;
  }

  // if JS is disabled, hide the buttons
  .accordion-button {
    @include hidden;
  }
}