/* ==========================================================================
//  Navigation modules
// ========================================================================== */


// BASE
// -----------------------------------------------------------------------------

[role="navigation"], .nav, nav {
	
}

// SUBMODULES
// -----------------------------------------------------------------------------

/* ------- Global/main nav ------------------------------------------- */

[role="navigation"].global {
  // @extend %base-transition;
  @extend %theme-reverse;
  // @include transform(translateX(0px));
  @include transition(left 0.3s ease);
  @include scroll-y;
  @include border(right);
  display: block;
  position: fixed;
  left: -(first($header-w));
  top: 0;
  bottom: 0;
  z-index: $z--high;
  height: 100%;
  width: first($header-w);
  -webkit-overflow-scrolling: touch;

  &.is-open {
    left: 0;
  }

  li {
    display: block;
  }

  a {
    @extend %calluna;
    // @extend %theme-reverse;
    // @extend %theme-color;
    @include rem(padding, 8px 0);
    @include border(top, thin);
    display: block;
    color: lighten($color--reverse, 30);

    &:hover {
      color: lighten($color--reverse, 50);
    }

    &.active {
      @extend %highlight;
      // @extend %highlight-border;
      // @extend %well;
      background: darken($color--reverse, 3);
      position: relative;
    }
  }

  @include breakpoint($breakpoint-header) {
    // @include restore-visible;
    @include rem(margin, 32px 0);
    @include restore-default-theme;
    @include kill-border(right);
    position: relative;
    left: 0;
    height: auto;
    width: auto;
    padding: 0 $grid-gutter;

    a {
      @include rem(font-size, 16px);
      color: $gray;

      &:hover, &:active {
        color: darken($gray, 10);
      }

      &.active {
        // @include border(top, thin);
        background: transparent;
        border-color: $color--highlight;

        &:before {
          $size: 2px;
          @include circle($size);
          @include border(all, thick);
          background: $color--highlight;
          border-color: darken(white, 5);
          content: " ";
          position: absolute;
          top: 0;
          left: 50%;
          margin-top: -(($size/2) + $hairline-w--thick);
          margin-left: -(($size/2) + $hairline-w--thick);
        }
      }
    }
  }
  
}


/* ------- Accordion (local) nav ------------------------------------------- */

.js {
  .accordion {
    @extend %base-transition;
    // @include rem(margin-bottom, 12px);
    @include border(bottom, thin);
    margin-bottom: 1em;

    &:last-child {
      // @include kill-border(bottom);
      margin-bottom: 0;
    }
  }

  .media_panel-body.accordion {
    @include kill-border(bottom);
  }

  // init -- show the "more" button
  .accordion-button {
    $icon-size: 18px;
    @include restore-visible;
    @include inline-block;
    @include rem(padding, 6px 0);
    // display: block;

    & > #{headers()} {
      @include inline-block;
    }

    .hide {
      @extend %read_more;
      @include hidden;
    }
    .expand {
      @extend %read_more;
      @include restore-visible;
      @include inline-block;
    }

    [class*="icon-arrow-"] {
      margin-left: 0.5em;
    }

    &.active {

      .hide {
        @include restore-visible;
        @include inline-block;
      }
      .expand {
        @include hidden;
      }
    }

    &.large {
      [class*="icon-arrow-"] {
        @include rem(width, $icon-size);
        @include rem(height, $icon-size);
      }
    }
  }

  .accordion-content {
    @include hidden;

    &.is-open {
      @include restore-visible;
    }
  }
  
  .accordion.excerpt {

    .accordion-content {
      @include restore-visible;

      // hide everything but the first paragraph
      & > * {
        @include hidden;
      }

      p:first-child {
        @include restore-visible;
      }
      
      // make all content visible when the "open" class is added
      // -> triggered by a click on the "more" button (JS)
      &.is-open > * {
        @include restore-visible;
      }
    }

    .accordion-button {
      @include rem(padding, 0 0 12px 0);
    }
  }
  
}

.no-js {

  .accordion-content.excerpt > * {
    @include restore-visible;
  }

  // if JS is disabled, hide the buttons
  .accordion-button {
    @include hidden;
  }
}