// ==========================================================================
//  Navigation modules
// ==========================================================================


// BASE
// -----------------------------------------------------------------------------

[role="navigation"], .nav, nav {
	
}

// SUBMODULES
// -----------------------------------------------------------------------------

// ------- Global/main nav -------------------------------------------

[role="navigation"].global {
  @include hidden;

  a {
    @extend %calluna;
  }

  @include breakpoint($breakpoint-header) {
    @include restore-visible;
    padding: 0 $grid-gutter;

    ul {
      @include rem(margin, 18px 0);
    }

    .secondary {
      @include rem(padding-top, 18px);
      border-top: $hairline-w--thin solid $gray--light;
    }

    a {
      @include rem(font-size, 16px);
      color: $gray;

      &:hover, &:active {
        color: darken($gray, 10);
      }
    }

    .active {
      color: $green;
    }
  }
  
}


// ------- Accordion (local) nav -------------------------------------------

.js {
  .accordion {
    @extend %base-transition;
  }

  .accordion-content {
    @include hidden;

    &.is-open {
      @include restore-visible;
    }
  }

  .accordion-content.excerpt {
    // hide everything but the first paragraph
    & > * {
      @include hidden;
    }

    p:first-child {
      @include restore-visible;
    }
    
    // make all content visible when the "open" class is added
    // -> triggered by a click on the "more" button (JS)
    &.is-open > * {
      @include restore-visible;
    }
  }

  // init -- show the "more" button
  .accordion-button {
    @include restore-visible;
    display: block;

    & > #{headers()} {
      @include inline-block;
    }

    .hide {
      @include hidden;
      @include inline-block;
    }
    .expand {
      @include restore-visible;
      @include inline-block;
    }
  }

  .accordion-button.active {
    // color: red !important;

    .hide {
      @include restore-visible;
    }
    .expand {
      @include hidden;
    }
  }
}

.no-js {

  // if JS is disabled, hide the buttons
  .accordion-button {
    @include hidden;
  }
}