// ===============================================================================
// Frameworks
// ===============================================================================

@import "vendor/bourbon/bourbon";
@import "singularitygs";

// ===============================================================================
// Settings & resets
// ===============================================================================

@import "core/settings";
// @import "core/normalize";
@import "core/fonts";


// ===============================================================================
// Core style imports
// ===============================================================================

@import "core/helpers";
@import "core/base";
@import "core/print";
// @import "core/syntax";
@import "core/layout";
@import "core/content";
@import "core/themes";

// ===============================================================================
// Modules & components
// ===============================================================================

// components
@import "modules/button";
@import "modules/media_panel";
@import "modules/bullet";

// modules
@import "modules/header";
@import "modules/navigation";
@import "modules/hero";
@import "modules/strip";
@import "modules/post";
@import "modules/grid-inline";
@import "modules/footer";

// ===============================================================================
// Styles of Shame
// -> put quick and dirty hacks here, then clean up & organize later
// ===============================================================================

.contact-form {
  label {
    display: block;
  }
  
  .input {
    @include inline-block;
    width: 50%;
    padding: ($grid-gutter/4);

    &.left {
      margin-left: -($grid-gutter/4);
      margin-right: -3px;
    }
    &.right {
      margin-right: -($grid-gutter/4);
    }
  }
  input {
    width: 100%;
  }
}

.map {
  // @extend %full-bleed;
  @include grid-span(4, 1);
  @include rem(margin-top, 24px);
  clear: both;
}

.info {
  @include unstyled-list;
  
  &.contact {
    @include inline-dl(true);

    dt {
      font-weight: bold;
    }
  }

  .inline {
    @include inline-block;
    margin-left: 0.6em;

    &:first-child {
      margin-left: 0;

      &:before {
        content: none;
      }
    }

    &:before {
      content: '\2022';
      position: relative;
      left: -0.4em;
    }
  }
}

