---
layout: interior
title: "Attorney Profiles"

next: "Practice Areas"
next_url: practice-areas.html"
---

<div class="wrapper">
{% for post in site.categories.attorneys %}
{% capture anchor %}{{ post.title | replace: " ", "-" | remove: "." | downcase }}{% endcapture %}

  <div class="media_panel">
    <img src="{{ post.portrait }}" alt="{{ post.title }}" class="media_panel-thumb" />
    <div class="media_panel-body accordion">
      <a id="{{ anchor }}"></a>
      <h2>{{ post.title }}</h2>
      <dl class="info contact">
        <dt>Direct Line:</dt>
        <dd>{{ post.phone }}</dd>
        <dt>Facsimile:</dt>
        <dd>{{ post.fax }}</dd>
        <dt>Email:</dt>
        <dd>{{ post.email }}</dd>
      </dl>
      {% comment %}<ul>
        {% for area in post.practice-areas %}
        <li>{{ area }}</li>
        {% endfor %}
      </ul>{% endcomment %}

      <div class="accordion-content excerpt" id="{{ anchor }}-content">
        {{ post.content }}
      </div>

      <a href="#{{ anchor }}-content" class="accordion-button">
        <span class="hide">&and; Hide</span>
        <span class="expand">&or; Show More</span>
      </a>
    </div>
  </div>
{% endfor %}
</div>