---
layout: interior
title: "Attorney Profiles"
show_title: "no"

next: "Practice Areas"
next_url: practice-areas.html"
---

<section class="hero interior" data-stellar-background-ratio="0.4" style="background-image: url({{ site.assets.img }}ron-denney.jpg)">
  <div class="wrapper">
    <h1 class="hero-headline dark" id="js-scroll-hero-headline" data-stellar-ratio="0.8">{{ page.title }}</h1>
  </div>
</section>

<div class="wrapper">

{% for post in site.categories.attorneys %}
{% capture anchor %}{{ post.title | replace: " ", "-" | remove: "." | downcase }}{% endcapture %}

  <div class="media_panel full-width">
    <img src="{{ site.assets.img }}{{ post.portrait }}" alt="{{ post.title }}" class="media_panel-thumb" />
    <div class="media_panel-body accordion excerpt">
      <a id="{{ anchor }}"></a>
      <h2>{{ post.title }}</h2>
      <dl class="info contact">
        <dt>Direct Line:</dt>
        <dd>{{ post.phone }}</dd>
        <dt>Facsimile:</dt>
        <dd>{{ post.fax }}</dd>
        <dt>Email:</dt>
        <dd>{{ post.email }}</dd>
      </dl>
      {% comment %}<ul>
        {% for area in post.practice-areas %}
        <li>{{ area }}</li>
        {% endfor %}
      </ul>{% endcomment %}

      <div class="accordion-content" id="{{ anchor }}-content">
        {{ post.content }}
      </div>

      <a href="#{{ anchor }}-content" class="accordion-button">
        <h5 class="hide">Hide <span class="icon-arrow-up-highlight" aria-hidden="true"></span></h5>
        <h5 class="expand">Show more <span class="icon-arrow-down" aria-hidden="true"></span></h5>
      </a>
    </div>
  </div>
{% endfor %}
</div>