---
layout: interior
title: "Contact Us"
---

<!-- <section class="strip pointer"> -->
  <div class="wrapper">
    <div class="grid large">
      <section class="grid-tile">
        <hgroup>
          <h3>{{ site.name | xml_escape }}</h3>
          <h5 class="accent">129 N. Wayne Avenue, PO Drawer 1140, Waynesboro, Virginia</h5>
        </hgroup>

        <dl class="info contact">
          <dt>Office:</dt>
          <dd>540.946.4400</dd>
          <dt>Facsimile:</dt>
          <dd>540.946.4417</dd>
          <dt>Email:</dt>
          <dd><a href="mailto:info@fdwdlaw.com">info@fdwdlaw.com</a></dd>
        </dl>
      </section>

      <section class="grid-tile nested">
        <hgroup>
          <h3>Payments, Bookkeeping &amp; Billing</h3>
          <h5><a href="mailto:billing@fdwdlaw.com" class="highlight">billing@fdwdlaw.com</a></h5>
        </hgroup>
        
        <dl class="tile-nested">
          <dt><h4 class="accent">Anita R. Davis</h4></dt>
          <dd>Real Estate Paralegal</dd>
          <dd>(540) 946-4412</dd>
          <dd>info4412@fdwdlaw.com</dd>
        </dl>
        <dl class="tile-nested">
          <dt><h4 class="accent">Kathleen B. Smith</h4></dt>
          <dd>Bankruptcy Paralegal</dd>
          <dd>(540) 946-4401</dd>
          <dd>info4401@fdwdlaw.com</dd>
        </dl>
      </section>
    </div>
  </div>

<!-- </section> -->

<section class="strip pointer">
  <div class="wrapper">

    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3141.0440599008607!2d-78.889479!3d38.069355!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b363a4210ad24d%3A0x15509b6120e9980b!2s129+N+Wayne+Ave%2C+Waynesboro%2C+VA+22980!5e0!3m2!1sen!2sus!4v1391476282576" width="100%" height="400" frameborder="0" style="border:0"></iframe>
    </div>

    <h2 class="accent strip-title">Directions</h2>

    <section class="strip-int accordion">
      <a href="#harrisonburg" class="accordion-button large">
        <h3>From Harrisonburg</h3>
        {% include accordion-icon.html %}
      </a>
      <p class="accordion-content" id="harrisonburg">Take Interstate 81 South to the I-81/I-64 Interchange at Staunton. Take Interstate 64 East to Waynesboro, Exit 94. Bear right off of the Exit onto Route 340 North/Rosser Avenue. Continue on Rosser Avenue to the stop light at Route 250/Main Street, approximately three (3) miles. Turn right. Go past Waynesboro High School (on the right). Continue on Route 250/Main Street, down the hill, to the stop light at Main Street &amp; Wayne Avenue. Turn left onto Wayne Avenue. Law Firm is located one block ahead on the left (green/white/burgundy striped awning on front of building).</p>
    </section>

    <section class="strip-int accordion">
      <a href="#charlottesville" class="accordion-button large">
        <h3>From Charlottesville</h3>
        {% include accordion-icon.html %}
      </a>
      <p class="accordion-content" id="charlottesville">Take Interstate 64 West to Waynesboro, Exit 99. Turn left onto Route 250 West. Follow Route 250 into downtown Waynesboro, approximately five (5) miles. Turn right at the fourth light at Main Street &amp; Wayne Avenue. Law Firm is located one block on the left (green/white/burgundy striped awning on front of building).</p>
    </section>

    <section class="strip-int accordion">
      <a href="#lexington" class="accordion-button large">
        <h3>From Lexington/Roanoke</h3>
        {% include accordion-icon.html %}
      </a>
      <p class="accordion-content" id="lexington">Take Interstate 81 North to I-81/I-64 Interchange at Staunton. Take Interstate 64 East to Waynesboro, Exit 94. Bear right onto Route 340/Rosser Avenue. Continue on Rosser Avenue to the stop light at Route 250/Main Street, approximately three (3) miles. Turn right. Go past Waynesboro High School (on the right). Continue on Route 250/Main Street, down the hill, to the stop light at Main Street &amp; Wayne Avenue. Turn left onto Wayne Avenue. Law Firm is located one block ahead on the left.</p>
    </section>
  </div>
</section>

<section class="strip">
  <div class="wrapper">
    {% include form-contact.html header="h2" class="accent strip-title" %}
  </div>
</section>