---
layout: default
title: home
---

<section class="hero" data-stellar-background-ratio="0.4">
  <hgroup class="hero-headline" id="js-scroll-hero-headline" data-stellar-ratio="0.8">
    <h1>Serving Waynesboro &amp;&nbsp;the&nbsp;Valley</h1>
    <h2><span class="subhead">since</span><span class="numbers">1931</span></h2>
  </hgroup>

  <span class="icon-arrow-down icon-alone" id="js-scroll-arrow" aria-hidden="true">Scroll for more</span>
</section>

<section class="strip">
  <div class="feature theme-default">

    <div class="feature-copy">
      <p class="intro">
        Starting as a local general practice, {{ site.name | xml_escape }} now serves the Cities of Waynesboro, Staunton, Lexington, Harrisonburg and Charlottesville and the Counties of Augusta, Rockbridge, Rockingham, Nelson and Albermarle.</p>

      <p>The Firm remains a vital and constant fixture in the City of Waynesboro. The integrity and work performance of the attorneys and staff is reflected by the large client base that continues to expand. We are committed to providing thorough, concise legal services to our clients at a fair cost.</p>
    </div>

    <aside class="feature-sidebar">
      <figure>
        <a href="about.html" class="feature-sidebar-thumb"><img src="{{ relativepath }}{{ site.assets.img }}FDWD-building.jpg" alt="FDWD office in Waynesboro"></a>
        <figcaption>
          <a href="about.html">Read about the firm's history &rsaquo;</a></figcaption>
      </figure>
    </aside>
  </div>
</section>

<section class="strip">
  <div class="wrapper">
    <h1 class="accent strip-title">Attorneys</h1>
    <ul class="grid large">
      {% for post in site.categories.attorneys %}
      <li class="media_panel highlight-border">
        <a href="{{ relativepath }}{{ site.baseurl }}/attorneys.html#{{ post.title | remove: '.' | replace: ' ','-' | downcase }}" class="media_panel-thumb highlight-border">
          <img src="{{ site.assets.img }}{{ post.portrait }}" alt="{{ post.title | xml_escape }}">
        </a>
        <div class="media_panel-body highlight-border">
          <h3><a href="{{ relativepath }}{{ site.baseurl }}/attorneys.html#{{ post.title | remove: '.' | replace: ' ','-' | downcase }}">{{ post.title | xml_escape }}</a></h3>
          <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' }} <a href="{{ relativepath }}{{ site.baseurl }}/attorneys.html#{{ post.title | remove: '.' | replace: ' ','-' | downcase }}" class="read_more">Read&nbsp;more&nbsp;&rsaquo;</a></p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="strip">
  <div class="wrapper">
    <h1 class="accent strip-title">Practice Areas</h1>
    <ul class="grid large">
      {% for post in site.categories.practice-areas %}
      {% capture colnum %}{{ forloop.index }}{% endcapture %}
      {% comment %}col {% if colnum < '5' %}first{% else %}second{% endif %}{% endcomment %}
      <li>
        <a class="bullet alone" href="{{ relativepath }}{{ site.baseurl }}/practice-areas.html#{{ post.slug }}">
          <span class="bullet-icon icon-{{ post.icon }}"></span>
          <h4 class="bullet-label">{{ post.title | xml_escape }}</h4>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>