---
layout: default
title: home
---

<section class="hero">
</section>

<section class="strip first">
  <div class="copy">
    <p class="intro">
      Starting as a local general practice, {{ site.name | xml_escape }} now serves the Cities of Waynesboro, Staunton, Lexington, Harrisonburg and Charlottesville and the Counties of Augusta, Rockbridge, Rockingham, Nelson and Albermarle.</p>

    <p>The Firm remains a vital and constant fixture in the City of Waynesboro. The integrity and work performance of the attorneys and staff is reflected by the large client base that continues to expand. We are committed to providing thorough, concise legal services to our clients at a fair cost.</p>
  </div>
  
  <aside>
    <figure>
      <a href="about.html">
        <img src="http://placehold.it/250x180" alt="FDWD office in Waynesboro">
        Read about the history &amp; renovation of our office building
      </a>
    </figure>
  </aside>
</section>

<section class="strip">
    <h2>Attorneys</h2>
    <nav class="local grid">
      <ul>
        {% for post in site.categories.attorneys %}
        <li>
          <a href="{{ relativepath }}{{ site.baseurl }}/attorneys.html#{{ post.title | remove: '.' | replace: ' ','-' | downcase }}" class="tile">
            <img src="{{ post.portrait }}" alt="{{ post.title | xml_escape }}">
            <h4>{{ post.title | xml_escape }}</h4>
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
</section>

<section class="strip">
  <h2>Practice Areas</h2>
  <p>TO BE ADDED HERE: pictures and short descriptions for each practice area</p>
  <nav class="local grid-2">
    <ul>
      {% for post in site.categories.practice-areas %}
      {% capture colnum %}{{ forloop.index }}{% endcapture %}
      <li class="col {% if colnum < '5' %}first{% else %}second{% endif %}">
        <a href="{{ relativepath }}{{ site.baseurl }}/practice-areas.html#{{ post.slug }}">{{ post.title | xml_escape }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</section>