---
layout: interior
title: "Practice Areas"

next: "Firm News"
next_url: "news.html"
---

<p class="intro lead_in">Intro paragraph on FDWD's range of expertise. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc loco discipulos quaerere videtur, ut, qui asoti esse velint, philosophi ante fiant. Quod si ita sit, cur opera philosophiae sit danda nescio. Quem Tiberina descensio festo illo die tanto gaudio affecit, quanto L. Sine ea igitur iucunde negat posse se vivere? Intrandum est igitur in rerum naturam et penitus quid ea postulet pervidendum; Quid est, quod ab ea absolvi et perfici debeat.</p>

<section class="strip pointer">
  <div class="wrapper overflow">
  {% for post in site.categories.practice-areas %}
    <section class="strip-int accordion">
      <a id="{{ post.slug }}"></a>
      <a href="#{{ post.slug }}-content" class="bullet accordion-button large">
        <span class="bullet-icon icon-{{ post.icon }}"></span>
        <h3 class="bullet-label">{{ post.title }}</h3>
        {% include accordion-icon.html %}
      </a>
      <div class="accordion-content bullet-content" id="{{ post.slug }}-content">
        {{ post.content }}
      </div>
    </section>
  {% endfor %}
  </div>
</section>