/* ==============================================================================
 * 	Global type
 * ============================================================================== */

%text-body {
	@include rem(font-size, 16px);
}

%text-small {
	@include rem(font-size, 14px);
}

body {
	@extend %museo;
}

hgroup {
	@include rem(margin-bottom, 8px);
	line-height: 1.2;
}

#{headers()} {
	margin: 0;
	
	a {
		color: inherit;
		text-decoration: none;

		&:hover, &:active {
			color: inherit;
			border-bottom: none;
		}
	}
}

h1, %h1 {
	@extend %calluna;
	@include rem(font-size, 54px);
	letter-spacing: -0.04em;
	line-height: 1.2;
}

h2, %h2 {
	@extend %calluna;
	// @extend .accent;
	@include rem(font-size, 42px);
	letter-spacing: -0.03em;
	line-height: 1.2;
}

h3, %h3 {
	@extend %museo;
	@include rem(font-size, 24px);
	letter-spacing: -0.01em;
}

h4, %h4 {
	@extend %museo;
	@include rem(font-size, 18px);
}

h5, %h5 {
	@extend %museo;
	@include rem(font-size, 14px);
}

h6, %h6 {
	@extend %museo;
	@include rem(font-size, 12px);
}

.accordion-content {
	#{headers()} {
		margin-top: 1em;
	}
}

.title {
	@extend %wrapper;
  @include rem(margin-top, 36px);
  @include rem(margin-bottom, 24px);
}

%label, .label {
	@extend %museo-medium;
	@include border(top, thin);
	padding-top: 0.25em;
	margin-bottom: 1em;
	text-transform: uppercase;
}

/* bigger first paragraph */
.intro {
	@include rem(font-size, 19px);
  letter-spacing: -0.01em;

	&.lead_in {
		@extend %wrapper;
		@include rem(margin-bottom, 36px);
	}
}

p, table, li {
	@extend %museo;
	@extend %text-body;

	em {
		@extend %museo-italic;
	}

	strong {
		@extend %museo-bold;
	}
}

p, ol, ul {
	margin: 0 0 0.5em 0;
}

ol, ul {
	// margin: 0;
	padding-left: 1em; /* bump to the right a little @ mobile sizes so the numbers/bullets don't run off */

	@include breakpoint($small) {
		padding-left: 0;
	}
}

dl {
	@extend %text-small;
	@extend %museo;
	margin-bottom: 1em;
	letter-spacing: -0.02em;
}

	dt {
		// @extend %museo-medium;
	}

a {
	@extend %base-transition;
	text-decoration: none;
}

small, figcaption {
	@extend %text-small;
}

figcaption {
	@extend %museo;
	margin-top: 0.5em;
}

/* if @font-face is supported, use Playfair ampersands... */
.fontface {
	.amp {
		@extend %playfair;
		font-size: $type-size-amp;
	}

	em .amp {
		@extend %playfair-italic;
		font-size: $type-size-amp;
	}
}

/* otherwise, use the best ampersands from common system fonts */
.amp {
	font-family: "Baskerville", "Palatino", "Book Antiqua", serif;
	font-style: italic;
	font-weight: normal;
	font-size: $type-size-amp; /* relative to whatever type surrounds it -- it renders slightly bigger */
}

/* Icons
 * -------------------------------------------------------------------------- */

/* usage: 
  <span aria-hidden="true" data-icon="&#xf008;"></span>
  <span class="screen-reader-text">Menu</span> */
.icon, %icon {
  @include inline-block;
  width: 1em;
  height: 1em;
  line-height: 0;
}

[class*="icon-"], %icon-grunticon {
  @extend %icon;
  // @include rem(width, 25px);
  // @include rem(height, 25px);
  // width: 100%;
  // height: 100%;
  margin: -0.15em 0 0 0;
  padding: 0;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  line-height: inherit;
  speak: none;
}

.icon-alone {
  @extend %icon;
  @include hide-text;
  width: 16px;
  width: 1rem;
  height: 16px;
  height: 1rem;
}

// a[href*=".pdf"]:before {
  
// }
