// ==========================================================================
//  Global settings
// ==========================================================================

$path-images: "../images/";
$path-fonts: "../fonts/";

$base-duration: 0.5s; // in seconds
$base-radius: 3px;

%base-radius {
  border-radius: $base-radius;
}

%base-transition {
  /* base transition used globally */
  @include transition (all $base-duration);
}

// Colors
// --------------------------------------------------------------------------

$green: #3da288;
$blue: #293F47;
$brown: #927c7a;
$gray--light: #e1e3e4;
$gray: #849296;
$black: #283030;

$color--highlight: $green !default;
$color--accent: $brown !default;
$color--flood: $green; // bright highlight/accent
$color--reverse: $black; // dark bg

$color-text--primary: $blue !default; // "primary" text, more prominent
$color-text--secondary: darken($gray, 10) !default; // "secondary" body text

// colors for cursor highlighting/selection
$color-selection: lighten($green, 10);
$color-selection-text: white;


// Typography
// --------------------------------------------------------------------------

// font sizes for each breakpoint
$type-size--default: 16px;
$type-size--small: 16px;
$type-size--medium: 18px;
$type-size--large: 21px;

$type-line_height: 1.5; // global line height

$type-size-amp: 1em; // how big the ampersand is (relative to surrounding type)


// Containers/layout
// --------------------------------------------------------------------------

$layout-width: 1024px;
$layout-margins: 48px;

$header-w: 180px 220px;

$hairline-w--thin: 1px;
$hairline-w--thick: 4px;
$hairline-style: solid;

@mixin border($sides, $w: thin) {
  @if $w == thin {
    $w: $hairline-w--thin;
  } @else {
    $w: $hairline-w--thick;
  }

  @if $sides == "all" {
    border-width: $w;
    border-style: $hairline-style;
  } @else {
    @each $side in $sides {
      border-#{$side}-width: $w;
      border-#{$side}-style: $hairline-style;
    }
  }
}

@mixin kill-border($side) {
  border-#{$side}: none;
}

// --- breakpoints ----------------------------------------------------------
$breakpoints: 480px 768px 1024px 1220px 1440px;

$xsmall: nth($breakpoints, 1);
$small: nth($breakpoints, 2);
$medium: nth($breakpoints, 3);
$large: nth($breakpoints, 4);
$xlarge: nth($breakpoints, 5);

$breakpoint-to-ems: true;

// breakpoints for major layout elements
$breakpoint-header: $small; // when the header changes from mobile to tablet states


// --- grid variables -------------------------------------------------------
$grid-gutter: 24px;

// Singularity.gs setup
// -> https://github.com/Team-Sass/Singularity
$grids: add-grid(4);
// $grids: add-grid(9 at $small);
// $grids: add-grid(12 at $medium);

$gutters: add-gutter($grid-gutter);
// $gutter-styles: 'split' 'fixed';

$output: 'isolation';


// --- default z-indexes ----------------------------------------------------
$z--low: 0;
$z--med: 1;
$z--high: 2;