/* ==============================================================================
//  Color themes
// ============================================================================== */

// Base
// ------------------------------------------------------------------------------

$theme-default-text: $color-text--primary;
$theme-default-fg: $color-text--primary;
$theme-default-bg: white;
$theme-default-highlight: $color--highlight;
$theme-default-accent: $color--accent;
$theme-default-border: darken($theme-default-bg, 20);

// theme generator mixin w/ defaults in the parameters
@mixin theme(
  $text: $color-text--secondary,
  $fg: $color-text--primary,
  $bg: white,
  $highlight: $color--highlight,
  $accent: $color--accent,
  $reverse: false
) {
  $border-color: darken($bg, 20);

  color: $fg;
  background-color: $bg;
  border-color: $border-color;
  border-style: solid;
  border-width: 0;

  & * {
    border-color: $border-color;
  }

  /* --- text ---------------------------------------------------------- */

  #{headers()} {
    color: $fg;

    & > a {
      color: inherit;
      text-decoration: none;

      &:hover, &:active {
        color: inherit;
      }
    }
  }

  p, li, td, dd {
    color: $text;
  }

  dt {
    color: $highlight;
  }

  .intro {
    color: darken($text, 10);
  }

  .secondary, aside, figcaption, small, .label, .post-date {
    @if $reverse == true {
      color: lighten($bg, 20);
    } @else {
      color: darken($bg, 20);
    }
  }

  // links & icons
  a {
    color: $highlight;

    &:hover, &:active {
      @if $reverse == true {
        color: lighten($highlight, 10);
      } @else {
        color: darken($highlight, 10);
      }
    }

    &.active:hover, &.acive:active {
      @if $reverse == true {
        color: lighten($highlight, 10);
      } @else {
        color: darken($highlight, 10);
      }
    }
  }

  /* --- forms, buttons, icons ---------------------------------------------------------- */

  input, textarea {
    color: $text;

    @if $reverse == true {
      @include form-placeholder-color(lighten($bg, 20));
      background-color: lighten($bg, 5);
      border-color: darken($bg, 15);
    } @else {
      @include form-placeholder-color(darken($bg, 25));
      background-color: darken($bg, 5);
      border-color: darken($bg, 10);
    }

    &:focus {
      border-color: $highlight;
    }
  }

  button, .button {
    color: white;
    background-color: $highlight;
  }

  .icon {
    color: $highlight;
  }

  /* --- global modifiers ---------------------------------------------------------- */
  
  %theme-text {
    color: $text;
  }

  %theme-border {
    border-color: $border-color;
  }

  %theme-color {
    color: $fg;
  }

  %theme-bg {
    border-color: $border-color;
  }

  // accent that jumps out
  %highlight, .highlight {
    color: $highlight;
  }

  %highlight-border, .highlight-border {
    border-color: $highlight !important;
  }

  %highlight-bg {
    background-color: $highlight;
  }
  
  // subtler accent
  %accent, .accent {
    color: $accent;
  }

  %dark, .dark {
    color: $fg;
  }

  %light, .light {
    color: white;
  }

  %accent-border, .accent-border {
    border-color: $accent !important;
  }

  // slightly 'sunken' from surrounding bg
  $well: darken($bg, 5);

  %well, .well {
    background-color: $well;
  }
  
  // for 'hidden' border (same color as bg)
  %well-hidden-border {
    border-color: $well;
  }
  
  // slightly 'raised' from surrounding bg
  %island, .island {
    background-color: lighten($bg, 5);
  }
}

/* Default
// ------------------------------------------------------------------------------ */

%theme-default, .theme-default, body {
  @include theme(); //use all defaults

  .intro {
    color: lighten($blue, 10);
  }
}

@mixin restore-default-theme() {
  @include theme();
  background-color: transparent;
}

/* Variations
// ------------------------------------------------------------------------------ */

/* --- Flood theme ----------------------------------------------------------
// -> bright colored background, meant to stand out or add accent */

$theme-flood-text: white;
$theme-flood-fg: white;
$theme-flood-bg: $color--highlight;
$theme-flood-highlight: $color-text--primary;
$theme-flood-accent: $color-text--primary;

%theme-flood, .theme-flood {
  @include theme(
    $text: white,
    $fg: white,
    $bg: $color--highlight,
    $highlight: $color-text--primary,
    $accent: $color-text--primary,
    $reverse: true
  );
}

/* --- Reverse theme ----------------------------------------------------------
// -> light FG over dark BG, contrasts sharply with default (dark FG over light BG) */

$theme-reverse-text: white;
$theme-reverse-fg: white;
$theme-reverse-bg: $color--reverse;
$theme-reverse-highlight: $color--highlight;
$theme-reverse-accent: lighten($color-text--primary, 10);

%theme-reverse, .theme-reverse {
  @include theme(
    $text: white,
    $fg: white,
    $bg: $color--reverse,
    $highlight: $color--highlight,
    $accent: lighten($color-text--primary, 10),
    $reverse: true
  );
}