<form class="contact-form">
  <h4 class="highlight">Request an Appointment</h4>
  <fieldset>
    <legend>Your name</legend>
    <div class="input left">
      <input type="text" id="your-name" placeholder="First" />
    </div>
    <div class="input right">
      <input type="text" id="your-name" placeholder="Last" />
    </div>
  </fieldset>
  <div class="input left">
    <label for="email">Email</label>
    <input type="text" id="email" placeholder="yourname@email.com" />
  </div>
  <div class="input right">
    <label for="phone">Phone number</label>
    <input type="text" id="phone" placeholder="(---)--- ----" />
  </div>
  <button>Send</button>
</form>