// ==========================================================================
//  Navigation modules
// ==========================================================================


// BASE
// -----------------------------------------------------------------------------

[role="navigation"], .nav, nav {
	
}

// SUBMODULES
// -----------------------------------------------------------------------------

// ------- Global/main nav -------------------------------------------

[role="navigation"].global {
  padding: 0 $grid-gutter;

  ul {
    @include rem(margin, 18px 0);
  }

  .secondary {
    @include rem(padding-top, 18px);
    border-top: $hairline;
  }

  .active {
    color: #999;
  }
}


// ------- Local nav -------------------------------------------

.local {
  position: relative;

  &.grid {
    @include inline-list;
    vertical-align: top;
    // margin-right: -#{$grid-gutter};

    li {
      width: 25%;
      padding: 0 ($grid-gutter/2);
      padding-bottom: ($grid-gutter/2);
      margin-right: -4px;
    }

    .tile {
      display: block;
    }
  }

  &.grid-2 {

    margin-bottom: -5em;

    .col {
      width: 50%;
      line-height: 1.4;
      margin: 0;
      padding: 0 ($grid-gutter/2);
    }

    .col.first {
      // @include grid-span(2, 1, $options: both);
      position: relative;
      left: 0;
    }

    .col.second {
      // @include grid-span(2, 3, $options: right);
      position: relative;
      left: 50%;
      top: -6em;
      margin-left: -4px;

    }
  }
}