// ==========================================================================
//  Blog post modules
// ==========================================================================


// BASE
// -----------------------------------------------------------------------------

.post {
	
}

// SUBMODULES
// -----------------------------------------------------------------------------

// ------- Full-length post -------------------------------------------

.post.full {
	
}


// ------- Excerpt -------------------------------------------

.post.excerpt {
  @include rem(padding, 24px 0);
  border-bottom: $hairline;

  &:last-child {
    border-bottom: none;
  }
}

.posts {
  @include grid-span(3, 1);
  @include clearfix;
  clear: both;
  overflow: hidden;
}

// ------- Meta/info -------------------------------------------

.meta {
  @include grid-span(1, 4);
  @include unstyled-list;
}