// ==========================================================================
//  Hero modules
// ==========================================================================

// BASE
// -----------------------------------------------------------------------------

.strip {
  @extend .wrapper;
  @include rem(padding-top, 24px);
  @include rem(padding-bottom, 24px);
  @include clearfix;
  clear: both;
  border-top: $hairline;
  overflow: hidden;

  &:first-child, &.first {
    border-top: none;
  }

  .copy {
    @include grid-span(3, 1);
  }

  & > aside {
    @include grid-span(1, 4);
    @include rem(margin-top, $grid-gutter);
  }

  .sub {
    @include float-span(2);

    &:last-child {
      @include float-span(2, 'last');
    }
    
  }

  .contact-form {
    @include grid-span(2, 1);
  }
}

.sub-info {
  @include inline-block;
  width: 50%;
  margin-right: -4px;
  padding: 0 ($grid-gutter/2);

  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    @include clearfix;
    padding-right: 0;
    clear: right;
  }
  // @include layout(2) {
  //   @include float-span(1);

  //   &:last-child {
  //     @include float-span(1, 'last');
  //   }
  // }  
}

// SUBMODULES
// -----------------------------------------------------------------------------

// ---- Attorney profile -------------------------------------------------------

.strip.profile {

  .profile-portrait {
    @include grid-span(1, 1);
  }
  .profile-copy {
    @include grid-span(3, 2);
  }
}